.contact {
  position: absolute;
  top: 50%;
  left: -11rem;
  transform: translateY(-50%);
  z-index: $layer-contact;
  visibility: visible;
  @media screen and (max-width: 768px) {
    visibility: hidden;
  }
  @media only screen and (min-width: 100em) {
    left: -12.5rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    &:visited,
    &:link {
      display: block;
      color: $color-white;
      font-size: 2.5rem;
      padding: 1.2rem;
      transition: all 450ms $cubic-bezier-primary;
      text-decoration: none;
      @media only screen and (min-width: 100em) {
        padding: 1.5rem;
        font-size: 2.8rem;
      }
    }
    &-linkedin {
      background-color: $color-linkedin;
    }
    &-github {
      background-color: $color-github;
    }
    &-resume {
      background-color: $color-resume;
    }
    &-email {
      background-color: $color-email;
    }
    &:hover,
    &:active,
    &focus {
      transform: translateX(6.4rem);
    }
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    margin-right: 1.2rem;
    width: 5.8rem;
    text-align: right;
    // letter-spacing: 1px;
    @media only screen and (min-width: 100em) {
      width: 10.8rem;
    }
  }
}
