.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3rem;
  background: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
  font-family: $font-secondary;
  border-top: 1px solid $color-primary-dark-2;

  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media only screen and (max-width: 50em) {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
